web/WEB-INF/wsdl/localhost_8080/BusquedaVideosWS/BusquedaVideosWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webServices/">

<xs:element name="buscarVideosAnio" type="tns:buscarVideosAnio"/>

<xs:element name="buscarVideosAnioResponse" type="tns:buscarVideosAnioResponse"/>

<xs:element name="buscarVideosAutor" type="tns:buscarVideosAutor"/>

<xs:element name="buscarVideosAutorResponse" type="tns:buscarVideosAutorResponse"/>

<xs:element name="buscarVideosTitulo" type="tns:buscarVideosTitulo"/>

<xs:element name="buscarVideosTituloResponse" type="tns:buscarVideosTituloResponse"/>

<xs:complexType name="buscarVideosAutor">
<xs:sequence>
<xs:element name="autorVideo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVideosAutorResponse">
<xs:sequence>
<xs:element name="RespuestaBusquedaVideosAutor" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:string" minOccurs="0"/>
<xs:element name="reproducciones" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVideosTitulo">
<xs:sequence>
<xs:element name="tituloVideo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVideosTituloResponse">
<xs:sequence>
<xs:element name="RespuestaBusquedaVideosTitulo" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVideosAnio">
<xs:sequence>
<xs:element name="anioVideo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVideosAnioResponse">
<xs:sequence>
<xs:element name="RespuestaBusquedaVideosAnio" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>